<div class="container">
  <div class="carousel-container">
    <ngb-carousel *ngIf="images" [interval]="2750">
      <ng-template ngFor let-image [ngForOf]="images">
        <ng-template ngbSlide>
          <div
            class="picsum-img-wrapper"
            [routerLink]="['/movie/detail/', image.id]"
          >
            <img
              [src]="
                image.backdrop_path
                  ? 'https://image.tmdb.org/t/p/original/' + image.backdrop_path
                  : 'https://via.placeholder.com/150'
              "
              alt="Movie backdrop"
            />
            <div class="carousel-caption">
              <h3>{{ image.title }}</h3>
            </div>
          </div>
        </ng-template>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="listado mt-3">
    <h3>Popular movies:</h3>
    <app-movies-list-profile
      [mList]="moviePopularList"
    ></app-movies-list-profile>
  </div>
  <div class="listado mt-3">
    <h3>Top Rated movies:</h3>
    <app-movies-list-profile
      [mList]="movieTopRatedList"
    ></app-movies-list-profile>
  </div>
  <div class="listado mt-3">
    <h3>Upcoming movies:</h3>
    <app-movies-list-profile
      [mList]="movieUpcomingList"
    ></app-movies-list-profile>
  </div>
</div>
