<div [ngStyle]="{ 'background-image': 'url(' + urlBgImage() + ')' }" class="ahumado">
  <div class="fondo">
    <div class="contenedor">
      <div class="d-flex">
        <div class="">
          <img [src]="urlImage()" alt="" width="366px" height="549px" />
        </div>
        <div style="margin-left: 54px">
          <div class="titulo">
            <h1>
              {{ movie.original_title }} <span>({{ getReleaseYear() }})</span>
            </h1>
          </div>
          <p class="mb-3 genres">{{ getGenreNames() }}</p>
          <div class="d-flex mb-3">
            <div class="col-1">
              <circle-progress [percent]="movie.vote_average * 10" [radius]="100" [animation]="true"
                [animationDuration]="300"></circle-progress>
            </div>
            <div class="ms-3">
              <button type="button" class="btn boton-trailer" (click)="open(movie.id, content)">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                  class="bi bi-play-fill" viewBox="0 0 16 19">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg>
                Ver trailer
              </button>
              <button type="button" class="btn boton-fav" (click)="agregarFav()">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" [attr.fill]="isFavourite ? '#FC502C' : '#ffffff'"
                  style="margin-bottom: 5px;" class="bi bi-heart" viewBox="0 0 16 14">
                  <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>
              </button>
              <button type="button" class="btn boton-val" [animation]="true" [ngbPopover]="contentOfValue">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                  style="margin-bottom: 5px;" class="bi bi-star" viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </button>
              <button type="button" class="btn boton-watchlist" (click)="addToWatchList()">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="46" fill=" currentColor"
                  class="bi bi-file-earmark-play" viewBox="0 0 16 17">
                  <path
                    d="M6 6.883v4.234a.5.5 0 0 0 .757.429l3.528-2.117a.5.5 0 0 0 0-.858L6.757 6.454a.5.5 0 0 0-.757.43z" />
                  <path
                    d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                </svg>
              </button>
            </div>
          </div>
          <div class="row caracteristicas mb-3">
            <div class="col-3">
              <h4>
                <strong [textContent]="testDataDirector(getDirectorName()[0].name)"></strong>
              </h4>
              <h4><em>Director</em></h4>
            </div>
            <div class="col-3">
              <h4>
                <strong>{{ movie.original_language }}</strong>
              </h4>
              <h4><em>Original language</em></h4>
            </div>
            <div class="col-3">
              <h4>
                <strong>{{ movie.budget }}</strong>
              </h4>
              <h4><em>Budget</em></h4>
            </div>
            <div class="col-3">
              <h4>
                <strong>{{ movie.revenue }}</strong>
              </h4>
              <h4><em>Revenue</em></h4>
            </div>
          </div>
          <div>
            <h3 class="titulo-overview">Overview:</h3>
            <p class="cuerpo-overview">{{ movie.overview }}</p>
          </div>
        </div>
      </div>
      <h3 class="titulo-overview mt-3">Actors:</h3>
      <div class="reparto list-group mt-3 list-group-horizontal position-relative overflow-auto overflow-y-hidden">
        <div *ngFor="let actor of getActorsList()">
          <div class="card">
            <div class="card-img-overlay-smoke">
              <div class="tamano position-relative"
                [ngStyle]="{ 'background-image': 'url(' + getActorImageUrl(actor) + ')' }">
                <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.5);">
                </div>
                <div class="pt-4 ps-4 position-relative">
                  <h5 class="card-title">{{actor.character}}</h5>
                  <h5 class="card-title">({{ actor.name }})</h5>
                </div>
                <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
                  <button type="button" class="btn btn-details" [routerLink]="['/actor/detail/', actor.id]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                      class="bi bi-plus" viewBox="0 0 16 16">
                      <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <iframe width="100%" height="500px" [src]="getVideoUrl(trailerOfMovie)" title="Trailer Movie" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

  </div>
</ng-template>

<ng-template #contentOfValue class="p-0 bg-dark">
  <h1 class="m-0">
    <ngb-rating [max]="5" [(rate)]="value" (rateChange)="rateAMovie()"></ngb-rating>
  </h1>
  <button class="btn btn-danger rounded-circle" *ngIf="valorado" (click)="deleteRateMovie()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill"
      viewBox="0 0 16 16">
      <path
        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
    </svg>
  </button>
</ng-template>