@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.contenedor {
    margin-left: 88px;
    margin-right: 88px;
    color: white;
}

.boton-trailer {
    border-radius: 40px;
    background-color: #21242D;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 10px;
}

.titulo h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 130px;
    margin-bottom: 15px;
    margin-left: 100px;
}

h2 {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 100px;
}

.titulo span {
    color: grey;
}

.genres {
    font-size: 24px;
    margin-bottom: 15px;
}

.caracteristicas {
    font-size: 24px;
}

.titulo-overview {
    font-size: 32px;
}

.cuerpo-overview {
    font-size: 24px;
}

.reparto {
    width: 1396px;
    margin-bottom: 70px;
}

.card {
    width: 322px;
    height: 422px;
    border-radius: 20px;
    overflow: hidden;
    border: none;
    margin-right: 15px;
}

.tamano {
    width: 322px;
    height: 422px;
    background-size: 100%;
    border-radius: 20px;
    color: white;
    overflow: hidden;
}

.tamano::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.pt-4 {
    padding-top: 1rem;
}

.pb-3 {
    padding-bottom: 0.75rem;
}

.btn-details {
    color: white;
    border: none;
    background-color: rgba(249, 249, 249, 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.75rem;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(249, 249, 249, 0.2);
    border-radius: 10px;
}

.row {
    margin-bottom: 120px;
}