<div class="contenedor">
  <div class="row">
    <div class="col-3">
      <img [src]="getImgAvatar()" style="border-radius: 100%" width="100%" />
    </div>
    <div class="col-9">
      <div class="titulo">
        <h1>Username: {{ username }}</h1>
      </div>
      <h2>Country: {{ country }}</h2>
    </div>
  </div>
  <button type="button" class="btn btn-secondary">Crear lista</button>
  <h3 class="titulo-overview mt-3">Watchlist movies:</h3>
  <app-movies-list-profile [mList]="movieWatchlist"></app-movies-list-profile>
  <h3 class="titulo-overview mt-3">Watchlist TV Shows:</h3>
  <app-tv-show-list-profile
    [tvList]="tvshowWatchlist"
  ></app-tv-show-list-profile>
  <h3 class="titulo-overview mt-3">Favourites movies:</h3>
  <app-movies-list-profile [mList]="movieFavourites"></app-movies-list-profile>
  <h3 class="titulo-overview mt-3">Favourites TV Shows:</h3>
  <app-movies-list-profile [mList]="movieFavourites"></app-movies-list-profile>
  <h3 class="titulo-overview mt-3">Rated movies:</h3>
  <app-movie-rated-list-profile
    [mList]="movieRated"
  ></app-movie-rated-list-profile>
  <h3 class="titulo-overview mt-3">Rated TV Shows:</h3>
  <app-tv-show-rated-list-profile
    [tvList]="tvshowRated"
  ></app-tv-show-rated-list-profile>
</div>
