<div class="contenedor">
    <div class="row">
        <div class="col-3">
            <img [src]="getImgAvatar()" style="border-radius: 100%;" width="100%" />
        </div>
        <div class="col-9">
            <div class="titulo">
                <h1>
                    Username: {{ username }}
                </h1>
            </div>
            <h2>Country: {{country}}</h2>
        </div>
    </div>
    <h3 class="titulo-overview mt-3">Watchlist movies:</h3>
    <div class="reparto list-group mt-3 list-group-horizontal position-relative overflow-auto overflow-y-hidden">
        <div *ngFor="let m of movieWatchlist">
            <div class="card">
                <div class="card-img-overlay-smoke">
                    <div class="tamano position-relative"
                        [ngStyle]="{ 'background-image': 'url(' + getImageMovie(m.poster_path) + ')' }">
                        <div class="position-absolute top-0 start-0 w-100 h-100"
                            style="background-color: rgba(0, 0, 0, 0.5);">
                        </div>
                        <div class="pt-4 ps-4 position-relative">
                            <h5 class="card-title">{{m.title}}</h5>
                        </div>
                        <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
                            <button type="button" class="btn btn-details" [routerLink]="['/movie/detail/', m.id]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="titulo-overview mt-3">Watchlist TV Shows:</h3>
    <div class="reparto list-group mt-3 list-group-horizontal position-relative overflow-auto overflow-y-hidden">
        <div *ngFor="let t of tvshowWatchlist">
            <div class="card">
                <div class="card-img-overlay-smoke">
                    <div class="tamano position-relative"
                        [ngStyle]="{ 'background-image': 'url(' + getImageMovie(t.poster_path) + ')' }">
                        <div class="position-absolute top-0 start-0 w-100 h-100"
                            style="background-color: rgba(0, 0, 0, 0.5);">
                        </div>
                        <div class="pt-4 ps-4 position-relative">
                            <h5 class="card-title">{{t.name}}</h5>
                        </div>
                        <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
                            <button type="button" class="btn btn-details" [routerLink]="['/tv-show/detail/', t.id]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="titulo-overview mt-3">Favourites movies:</h3>
    <div class="reparto list-group mt-3 list-group-horizontal position-relative overflow-auto overflow-y-hidden">
        <div *ngFor="let m of movieFavourites">
            <div class="card">
                <div class="card-img-overlay-smoke">
                    <div class="tamano position-relative"
                        [ngStyle]="{ 'background-image': 'url(' + getImageMovie(m.poster_path) + ')' }">
                        <div class="position-absolute top-0 start-0 w-100 h-100"
                            style="background-color: rgba(0, 0, 0, 0.5);">
                        </div>
                        <div class="pt-4 ps-4 position-relative">
                            <h5 class="card-title">{{m.title}}</h5>
                        </div>
                        <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
                            <button type="button" class="btn btn-details" [routerLink]="['/movie/detail/', m.id]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="titulo-overview mt-3">Favourites TV Shows:</h3>
    <div class="reparto list-group mt-3 list-group-horizontal position-relative overflow-auto overflow-y-hidden">
        <div *ngFor="let t of tvshowFavourites">
            <div class="card">
                <div class="card-img-overlay-smoke">
                    <div class="tamano position-relative"
                        [ngStyle]="{ 'background-image': 'url(' + getImageMovie(t.poster_path) + ')' }">
                        <div class="position-absolute top-0 start-0 w-100 h-100"
                            style="background-color: rgba(0, 0, 0, 0.5);">
                        </div>
                        <div class="pt-4 ps-4 position-relative">
                            <h5 class="card-title">{{t.name}}</h5>
                        </div>
                        <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
                            <button type="button" class="btn btn-details" [routerLink]="['/tv-show/detail/', t.id]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="titulo-overview mt-3">Rated movies:</h3>
    <div class="reparto list-group mt-3 list-group-horizontal position-relative overflow-auto overflow-y-hidden">
        <div *ngFor="let m of movieRated">
            <div class="card">
                <div class="card-img-overlay-smoke">
                    <div class="tamano position-relative"
                        [ngStyle]="{ 'background-image': 'url(' + getImageMovie(m.poster_path) + ')' }">
                        <div class="position-absolute top-0 start-0 w-100 h-100"
                            style="background-color: rgba(0, 0, 0, 0.5);">
                        </div>
                        <div class="pt-4 ps-4 position-relative">
                            <h5 class="card-title">{{m.title}}</h5>
                        </div>
                        <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
                            <button type="button" class="btn btn-details" [routerLink]="['/movie/detail/', m.id]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="titulo-overview mt-3">Rated TV Shows:</h3>
    <div class="reparto list-group mt-3 list-group-horizontal position-relative overflow-auto overflow-y-hidden">
        <div *ngFor="let t of tvshowRated">
            <div class="card">
                <div class="card-img-overlay-smoke">
                    <div class="tamano position-relative"
                        [ngStyle]="{ 'background-image': 'url(' + getImageMovie(t.poster_path) + ')' }">
                        <div class="position-absolute top-0 start-0 w-100 h-100"
                            style="background-color: rgba(0, 0, 0, 0.5);">
                        </div>
                        <div class="pt-4 ps-4 position-relative">
                            <h5 class="card-title">{{t.name}}</h5>
                        </div>
                        <div class="d-flex flex-column align-items-end position-absolute bottom-0 end-0 p-3">
                            <button type="button" class="btn btn-details" [routerLink]="['/tv-show/detail/', t.id]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>